*{
    background-color: rgb(22, 88, 88);
}

.background{
    background-image: url(https://i0.wp.com/wallpapercave.com/wp/wp7455827.jpg?resize=650,400);
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    background-repeat: no-repeat;
    height: 700px;
  }

nav .tomjerry{
    background-color: rgb(53, 209, 241);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 40px;
    
}

nav .tomjerry:hover{
    background-color: rgb(101, 228, 228);
    color: rgb(16, 16, 16);
    transition: 0.5ms;

}
nav .phineasferb{
    background-color: rgb(53, 209, 241);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px 40px;
}

nav .phineasferb:hover{
    background-color: rgb(101, 228, 228);
    color: rgb(16, 16, 16);
    transition: 0.5ms;
}

.contianer img{
    width: 0%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.6);
    transition: all ease-in-out 0.5s;
    padding: 20px;
}

.container img:hover{
    width: 25%;
}
h1{
text-align: center;
}

.img-div{
border: 2px solid rgb(166, 114, 233);
width: 420px;
padding: 5px;
border-radius: 15px;
float: left;
text-align: center;
height: 400px;
}

.zoom{
    width: 420px; 
    height: 400px; 
    border-radius: 15px; 
    overflow: hidden
}

.zoom img{
    max-width: 100%;
    height: 100%; 
    transition: all 0.5s; 
    padding: 3px; 
    cursor: pointer;
}

.zoom:hover img{
    transform: scale3d(1.4, 1.4, 1.4); 
    border-radius: 15px;
}

desc{
    padding: 95px;
}

.zoom.zoom:hover{
    box-shadow: 0 0 15px grey
}

desc{
    padding: 15px;
}
